<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save-extension_attributes-in-quote" type="Bss\CustomBiztechDeliverydate\Plugin\Checkout\Model\ShippingInformationManagementPlugin" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="deliverydate_extension_attribute" type="Bss\CustomBiztechDeliverydate\Plugin\Sales\Api\OrderRepositoryInterface"/>
    </type>
</config>
