<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Anowave_Ec::ec" title="Google Tag Manager" module="Anowave_Ec" action="adminhtml/system_config/edit/section/ec" sortOrder="-1" parent="Anowave_Package::package" resource="Anowave_Ec::ec"/>
    	<add id="Anowave_Ec::ec_consent" title="Consent" module="Anowave_Ec" action="track/consent/index" sortOrder="-1" parent="Magento_Reports::report_marketing" resource="Anowave_Ec::ec_consent"/>
    	<add id="Anowave_Ec::ec_consentcookie" title="Consent Cookies" module="Anowave_Ec" action="track/consentcookie/index" sortOrder="-1" parent="Magento_Reports::report_marketing" resource="Anowave_Ec::ec_consentcookie"/>
    	<add id="Anowave_Ec::ec_log" title="Track log" module="Anowave_Ec" action="track/log/index" sortOrder="-1" parent="Magento_Reports::report_marketing" resource="Anowave_Ec::ec_log"/>
     </menu>
</config>