<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_faq">
        <observer name="faq" instance="Anowave\Faq\Observer\Config" />
    </event>
    <event name="catalog_product_save_after">
    	<observer name="faq" instance="Anowave\Faq\Observer\Product" />
    </event>
</config>
