<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Biztech_Deliverydatepro::biztech_deliverydatepro" title="Biztech Delivery Date Pro"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Biztech_Deliverydatepro::base" title="Delivery Date" sortOrder="51">
                   <resource id="Biztech_Deliverydatepro::biztech_holiday_index" title="Manage Holidays" sortOrder="10"/>
                   <resource id="Biztech_Deliverydatepro::biztech_order_calendar" title="Delivery Calendar"/>
               </resource>
            </resource>
        </resources>
    </acl>
</config>