<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="api_sales_order_payment_refund">
    	<observer name="ec" instance="Anowave\Ec\Observer\Refund\Api" />
    </event>  
</config>