<!-- ko if: deliverydateEnabled -->
<div class="deliverydate-main-wrapper" id="deliverydate-main-wrapper">
    <form id="deliverydate-form" class="form">
        <div class="fieldset">
            <div class="step-title" data-bind="i18n: 'Delivery Date Information'"></div>
            
            <div class="field checkout-timeslot" data-bind="visible: timeSlots().length > 0" name="shipping_arrival_slot">
                <label class="label calender-comment-label" data-bind="i18n: deliverydateLabel"></label>
                <!-- ko if: isMandatory -->
                    <span>*</span>
                <!-- /ko -->
                <table class="table-checkout-delivery-method">
                    <thead>
                        <tr>
                            <th data-bind="text: 'Date-Day'"></th>
                            <th data-bind="i18n: timeslotTableLabel, attr : { colspan : timeSlots().length }" data-role="title"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: {data : timeSlots(), as : 'timeSlot'} -->
                        <tr class="row">
                            <td class="col delivery-wrapper" data-bind="text: row_heading"></td>
                            <!-- ko foreach: {data : slots, as : 'slot'} -->
                            <td class="col delivery-wrapper">
                                <!-- ko if: disabled -->
                                <input type="radio" name="radio" data-bind="attr : { id : slot_id, disabled : true }, value : slot_value" />
                                <label data-bind="html : slot_value_html, attr : { for : slot_id }"></label>
                                <!-- /ko -->
                                <!-- ko ifnot: disabled -->
                                <input class="delivery-slot" type="radio" name="radio" data-bind="attr : { id : slot_id }, value: slot_value, selected: isSlected"  />
                                <label data-bind="html : slot_value_html, attr : { for : slot_id }"></label>
                                <!-- /ko -->
                            </td>
                            <!-- /ko -->
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            
            <div class="field" data-bind="visible: timeSlots().length === 0" name="shipping_arrival_slot">
                <p data-bind="i18n: 'No Timeslot available'"></p>
            </div>

            <div class="field" data-bind="visible: timeSlots().length > 0" name="shipping_arrival_comments">
                <label class="label calender-comment-label" data-bind="i18n: deliverydatecommentLabel"></label>

                <div class="control">
                    <textarea data-bind="attr : { id : 'shipping_arrival_comments', col: 65, row: 10 }, class: 'delivery-date-comment', name : 'shipping_arrival_comments' "></textarea>
                </div>
            </div>
            <div class="field biz-comment-note" data-bind="visible: getShowHtml() === 1" name="show_html">
                <ul>
                    <li>
                        <ul>
                            <li>
                                <span data-bind="html: displayHtml"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="hidden">
                <input type="hidden" id="shipping_arrival_date" name="shipping_arrival_date" />
                <input type="hidden" id="shipping_arrival_slot" name="shipping_arrival_slot" />
                <input type="hidden" id="delivery_charges" name="delivery_charges" />
            </div>
        </div>
</div>
</form>
</div>
<!-- /ko -->