<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018 MageModule, LLC: All rights reserved
  ~
  ~ LICENSE: This source file is subject to our standard End User License
  ~ Agreeement (EULA) that is available through the world-wide-web at the
  ~ following URI: https://www.magemodule.com/end-user-license-agreement/.
  ~
  ~  If you did not receive a copy of the EULA and are unable to obtain it through
  ~  the web, please send a note to admin@magemodule.com so that we can mail
  ~  you a copy immediately.
  ~
  ~  @author        MageModule admin@magemodule.com
  ~  @copyright    2018 MageModule, LLC
  ~  @license        https://www.magemodule.com/end-user-license-agreement/
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Component\Form\Element\Multiline">
        <plugin name="MageModule\Core\Plugin\Ui\Component\Form\Element\Multiline" type="MageModule\Core\Plugin\Ui\Component\Form\Element\Multiline" />
    </type>
</config>
