.cal {
    display: block;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.cal a {
    text-decoration: none; display: block; color: #666; font-weight: normal; 
}
.cal tbody a{ text-align: center;}
.cal tbody a:hover{ color: #ea7900; }
.cal caption {
    display: block;
    line-height: 32px;
    font-weight: bold;
    color: #e2e2e2;
    text-align: center;
    text-shadow: 0 -1px black;
    background: #333;
    background: rgba(0, 0, 0, 0.35);
    border-top: 1px solid #333;
    border-bottom: 1px solid #313131;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}

.cal caption td {
    display: block;
    line-height: 32px;
    padding: 0 10px;
    font-size: 15px;
    color: #e2e2e2;
}
.cal caption td:hover {
    color: white;
}
.cal caption .prev {
    float: left; font-size: 22px; color: #fff; margin-left: 10px;
}
.cal caption .next {
    float: right; font-size: 22px; color: #fff; margin-right: 10px;
}  
.cal th, .cal td {
    width: 30px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.cal th:first-child, .cal td:first-child {
    border-left: 1px solid #f3f3f3;
}
.cal th {
    line-height: 20px;
    font-size: 12px;
    color: #696969;
    text-transform: uppercase;
    background: #f3f3f3;
    border-left: 1px solid #f3f3f3;
}
.cal td {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
}
.cal td  {
    /*clear: both;*/
    /*display: block;*/
    position: relative;
    width: 97px;
    color: #666;
    background-image: -webkit-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: -moz-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: -o-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
    background-image: linear-gradient(to bottom, #eaeaea, #e5e5e5 60%, #d9d9d9);
    -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5); padding: 35px 0;
}
.cal td  {
    position: relative;
    width: 97px;
    color: #666;
    background: #fff /*\**/;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5); padding: 8px; text-align: right;
}
.cal td:hover, .cal td.off {
    background: #f4f4f4;
}
.cal td.off  {
    color: #b3b3b3;
}
.cal td.active, .cal td:active {
    margin: -1px;
    color: #5f5d5c;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #f4f4f4;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.cal td.active:first-child, .cal td:first-child:active {
    border-left: 0;
    margin-left: 0;
}
.cal td.active:last-child, .cal td:last-child:active {
    border-right: 0;
    margin-right: 0;
}
.cal tr:last-child td.active, .cal tr:last-child td:active {
    border-bottom: 0;
    margin-bottom: 0;
}
.cal td.current  { color:#ea7900;}