<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Anowave\Faq\Block\Adminhtml\Edit\Tab\View\Faq">
        <plugin name="faq" type="Anowave\Faq\Block\Plugin" sortOrder="1" />
    </type>
</config>
